
/***********************************************/
/* Import Bootstrap                            */
/***********************************************/

@import 'custom-bootstrap';


/***********************************************/
/* Fonts                                       */
/***********************************************/

/***********************************************/
/* General styles                              */
/***********************************************/

html {
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #212121;
    background-color: #fafafa;
    font-size: 0.85rem;
    line-height: 1.5;
    display: flex;
    min-height: 100%;
}

a {
    color: #212121;
    text-decoration: underline;
}

/* on hover, select */
a:hover,
a:focus {
    color: #212121;
    text-decoration: underline;
}

/* on press */
a:active {
    color: #212121;
    opacity: 0.8;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {}

h3 {}

h4 {
    margin-bottom: 0.8em;
    font-weight: 600;
}

h5 {}

hr {}

/* responsive image */
img {
    max-width: 100%;
}

/* responsive */
@media (max-width: 991.98px) {}


/***********************************************/
/* Overwritten Bootstrap Styles                */
/***********************************************/

.container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}
.btn {
    text-decoration: none !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.15rem;
}
.btn-link {
    font-weight: 500;
}
.nav-tabs {
    padding-top: 4px;
}
.nav-tabs .nav-link, .nav-tabs .nav-link:focus {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 85%;
    color: #626161;
    box-shadow: none;
    padding: 0.8rem;
}
.modal-dialog {
    max-width: 650px;
}

/***********************************************/
/* Forms                                       */
/***********************************************/

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    font-size: 0.95rem;
}


/***********************************************/
/* Layout Divs                                 */
/***********************************************/

.sidebar {
    width: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    flex-shrink: 0;
}

.page-wrap {
    flex-grow: 1;
    background-color: #f9f9f9;
    box-shadow: inset 25px 0 30px -15px rgba(0,0,0,0.15);
}


/***********************************************/
/* Components Styles                		   */
/***********************************************/

.breadcrumbs {
    padding: 10px 0;
}
.breadcrumbs__item {
    color: #9c9c9c;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 0.85rem;
}
.breadcrumbs__item:not(:last-child):after {
    content: "";
    background-image: url(../images/breadcrum-separator.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px 0 12px;
}

.back-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    background-image: url(../images/back-button.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.global-search-icon {
    position: absolute;
    background-image: url(../images/icon-search.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 20px;
}



/***********************************************/
/* Import Components Styles                    */
/***********************************************/

@import 'component-sidebar';
@import 'modal-informes-globales';


/***********************************************/
/* Import Pages Styles                                */
/***********************************************/

@import 'page-home';
@import 'page-login';
@import 'page-dashboard';
@import 'page-gallery';
